.btn {
    -fx-padding: 8px 14px; /* Padding for size */
    -fx-cursor: hand; /* Pointer cursor */
    -fx-border-color: #19388A; /* Blue border */
    -fx-border-width: 2px; /* Border thickness */
    -fx-background-color: white; /* Initial background color */
    -fx-text-fill: #19388A; /* Blue text */
    -fx-effect: dropshadow(gaussian, #19388A, 20, 0, 10, 10); /* Box shadow effect */
    -fx-transition: all 1s ease-in-out; /* Smooth transition */
}

.btn:hover {
    -fx-background-color: #19388A; /* Blue background on hover */
    -fx-text-fill: white; /* White text on hover */
    -fx-effect: dropshadow(gaussian, #19388A, 6, 0, 3, 3); /* Stronger shadow on hover */
}

.redBtn {
    -fx-padding: 8px 14px; /* Padding for size */
    -fx-cursor: hand; /* Pointer cursor */
    -fx-border-color: #de1d1d; /* Blue border */
    -fx-border-width: 2px; /* Border thickness */
    -fx-background-color: white; /* Initial background color */
    -fx-text-fill: #de1d1d; /* Blue text */
    -fx-effect: dropshadow(gaussian, #de1d1d, 20, 0, 10, 10); /* Box shadow effect */
    -fx-transition: all 1s ease-in-out; /* Smooth transition */
}

.redBtn:hover {
    -fx-background-color: #de1d1d; /* Blue background on hover */
    -fx-text-fill: white; /* White text on hover */
    -fx-effect: dropshadow(gaussian, #de1d1d, 6, 0, 3, 3); /* Stronger shadow on hover */
}
